@import "compass";
@import "variables";
@import "bootstrap";
@import "bootswatch";

.game-board {
  width: auto;
  @include user-select(none);

  td {
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;

    &:hover {
      background-color: $input-border-focus;
    }

    div {
      width: 100%;
      height: 100%;
    }
  }

  &.wide td {
    width: 5em;
    height: 5em;
  }

  .rabbit {
    background: image-url("rabbit.png") no-repeat;
    background-size: 100% auto;
  }

  .carrot {
    background: image-url("carrot.png") no-repeat;
    background-size: 100% auto;
  }
}
